@page
@model IndexModel
@{
    ViewData["Title"] = "JWT";
}

<div class="text-center">
    <h1 style="background-color:aqua;" class="display-4">Welcome<img src="https://www.asbank.com.tr/image/logoW.png" /> </h1>
    <p>ASbank <a href="https://secure.asbank.com.tr/">building Web apps with .NET Core</a>.</p>
</div>
